<div class="letter">
    <div class="row">

        <div class="columns small-8 large-8">

            <div class="row">
                <div class="columns large-12 small-12">
                    <h1 id="application-logo">
                        eresume.io
                    </h1>

                </div>
            </div>


            <div class="row">
                <div class="columns large-12 small-12">


                    <div class="blocks">

                        <h2 class="title">objective</h2>

                        <div class="body">
                            <p>
                                Compose professional elegant resumes within minutes for free.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="columns large-12 small-12">


                    <div class="blocks">

                        <h2 class="title">examples</h2>

                        <div class="body">
                            <a>
                                <img src="../styles/images/golden.png" style="height: auto;width:190px;border:1px solid #ddd;cursor: zoom-in" ng-click="zoomInHome({name: 'Golden', imageUrl: '../styles/images/golden.png'})"/>
                                <img src="../styles/images/cyan.png" style="height: auto;width:190px;border:1px solid #ddd;cursor: zoom-in" ng-click="zoomInHome({name: 'Cyan', imageUrl: '../styles/images/cyan.png'})"/>
                                <img src="../styles/images/sapphire.png" style="height: auto;width:190px;border:1px solid #ddd;cursor: zoom-in" ng-click="zoomInHome({name: 'Sapphire', imageUrl: '../styles/images/sapphire.png'})"/>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="columns large-12 small-12">
                    <div class="blocks">

                        <h2 class="title">why us ?</h2>


                        <div class="body">
                            <table id="feature-grid">
                                <tbody>
                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-dollar fa-4x money"></i>
                                    </td>
                                    <td>
                                        <div class="feature-label">Absolutely Free</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-file-pdf-o fa-4x pdf"></i>
                                    </td>
                                    <td>
                                        <div id="feature-pdf">
                                        <div class="feature-label">Export to PDF</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-language fa-4x language"></i>
                                    </td>
                                    <td>
                                        <div id="feature-language">
                                            <div class="feature-label">Resumes In Your Language</div>
                                            <div>
                                                <p class="blokk">
                                                    Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                    writer-director Christopher Nolan was born on July 30, 1970.
                                                </p>
                                            </div>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-refresh fa-4x"></i>
                                    </td>
                                    <td>
                                        <div class="feature-label">Instant preview</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>

                                    </td>
                                </tr>





                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-linkedin fa-4x linkedin"></i>
                                    </td>
                                    <td>
                                        <div class="feature-label">Import from LinkedIn</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-link fa-4x link"></i>
                                    </td>
                                    <td>
                                        <div class="feature-label">Online forever</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-share-alt fa-4x share"></i>
                                    </td>
                                    <td>
                                        <div class="feature-label">Share with anyone</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>

                                    </td>
                                </tr>




                                <tr class="feature-rows">
                                    <td class="icon">
                                        <i class="fa fa-th fa-4x templates"></i>
                                    </td>
                                    <td>
                                        <div class="feature-label">Multiple templates to choose from</div>
                                        <div>
                                            <p class="blokk">
                                                Best known for his cerebral, often nonlinear story-telling, acclaimed
                                                writer-director Christopher Nolan was born on July 30, 1970.
                                            </p>
                                        </div>

                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
                <div class="row" id="dropLine">
                    <div class="columns large-12 small-12">
                        <div class="blocks">
                            <h2 class="title">Drop us a line</h2>
                            <div class="body">
                                <form class="pure-form" ng-submit="sendEmail()" name="lineForm" novalidate>
                                    <div class="row">
                                        <div class="columns small-12 large-12">
                                            <label for="line-name" class="labelling">Name
                                                <span ng-show="(lineForm.lineName.$invalid && !lineForm.lineName.$pristine) || (lineForm.$submitted &&  lineForm.lineName.$invalid )">* cant guess your name :-(</span>
                                            </label>
                                            <input id="line-name" type="text" maxlength="100" ng-model="line.lineName" placeholder="Name" required name="lineName"/>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="columns small-12 large-12">
                                            <label for="line-email" class="labelling">Email
                                                <span ng-show="(lineForm.lineEmail.$invalid && !lineForm.lineEmail.$pristine) || (lineForm.$submitted &&  lineForm.lineEmail.$invalid )">* what if I want to send you a reply for your line ?</span>
                                            </label>
                                            <input id="line-email" type="email" maxlength="100" ng-model="line.lineEmail" placeholder="me@myself.com" required name="lineEmail"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="columns small-12 large-12">
                                            <label for="line-message" class="labelling">Message
                                                <span ng-show="(lineForm.lineMessage.$invalid && !lineForm.lineMessage.$pristine) || (lineForm.$submitted &&  lineForm.lineMessage.$invalid)">* blank message! seriously ?</span>
                                            </label>
                                            <textarea name="lineMessage" id="line-message" cols="30" rows="10" maxlength="500" ng-model="line.lineMessage" placeholder="Let us know about what you liked and what you did not like about the application.

Suggest features, improvments.

Or

Give us links to templates you would like to see in here." required></textarea>
                                        </div>
                                    </div>
                                    <div class="row block-footer">
                                        <div class="columns small-12 large-12 text-right">
                                            <input type="submit" class="button button-small success radius" value="Send"/>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row" id="upcoming-features">
                <div class="columns small-12 large-12">
                    <div class="blocks">
                        <h2 class="title">UPCOMING FEATURES</h2>
                    </div>
                    <div class="body">
                        <p>
                        <ul>
                            <li><strike>Modify the various labels of the resume inorder to make truly language independent resumes.</strike> <i class="fa fa-check success"></i></li>
                            <li>Ability to re-order experience, qualification & project details.</li>
                            <li>Lots more templates.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>




        </div>
        <div class="columns small-4 large-4 nopad" id="right-area">
            <div class="row ">
                <div class="columns small-12 large-12 nopad">
                    <div class="button button-full button-positive" ng-click="showLogin()">Login</div>
                    <div class="text-center"><a ng-click="showLogin()">(try with a guest account)</a></div>
                </div>
            </div>

            <div class="row">
                <div class="columns large-12 small-12">
                    <h1 class="text-center" id="ortext">or</h1>
                </div>
            </div>

            <div class="row">
                <div class="columns large-12 small-12 nopad">



                    <!--<form class="pure-form" ng-submit="sendEmail()" style="background-color: #FFF;width: 100%">-->
                    <!--<form class="pure-form full-width" ng-submit="sendEmail()" id="registraion-form">-->
                    <form ng-submit="doSignUp()" name="formRegister" novalidate id="registraion-form" class="pure-form">
                        <div class="row">
                            <div class="columns small-12 large-12">
                                <h1 class="title">Register</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12 large-12">
                                <label>Username
                                    <!--<input type="text" placeholder="me@myself.com" ng-model="homeCtrl.newUser.username"/>-->
                                    <input name="email"
                                           type="email"
                                           placeholder="Email Id"
                                           ng-required="true"
                                           ng-model="newUser.username"
                                            />
                                </label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="columns small-12 large-12">
                                <label>Password
                                    <!--<input type="password" placeholder="password" ng-model="homeCtrl.newUser.password"/>-->
                                    <input type="password"
                                           placeholder="Password"
                                           ng-required="true"
                                           name="password"
                                           cv-validator="minlength:6;email;required"
                                           ng-model="newUser.password"
                                            />
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="columns small-12 large-12">
                                <label>Confirm Password
                                    <!--<input type="password" placeholder="password" ng-model="homeCtrl.newUser.confirmPassword"/>-->
                                    <input type="password"
                                           placeholder="Password"
                                           ng-model="newUser.confirmPassword"
                                           name="confirmPassword"
                                           ng-required="true"
                                           cv-validator="minlength:6;equalToField;email;required"
                                           equal2field="{{newUser.password}}"
                                           equalsfield="newUser.password"

                                            >
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="columns small-12 large-12">

                                <div class="cv-invalid" ng-show="formRegister.email.$error.required && !formRegister.email.$pristine">
                                    email is required.
                                </div>
                                <div class="cv-invalid" ng-show="formRegister.email.$error.email && !formRegister.email.$pristine">
                                    valid email id required.
                                </div>

                                <div class="cv-invalid" ng-show="formRegister.password.$error.equalToField && !formRegister.password.$pristine">
                                    passwords do not match.
                                </div>
                                <div class="cv-invalid" ng-show="formRegister.password.$error.minlength && !formRegister.password.$pristine">
                                    password must be atleast 6 characters.
                                </div>
                                <div class="cv-invalid" ng-show="formRegister.password.$error.required && !formRegister.password.$pristine">
                                    password is required.
                                </div>

                                <div class="cv-invalid" ng-show="formRegister.confirmPassword.$error.equalToField && !formRegister.confirmPassword.$pristine">
                                    passwords do not match.
                                </div>
                                <div class="cv-invalid" ng-show="formRegister.confirmPassword.$error.minlength && !formRegister.confirmPassword.$pristine">
                                    password must be atleast 6 characters.
                                </div>
                                <div class="cv-invalid" ng-show="formRegister.confirmPassword.$error.required && !formRegister.confirmPassword.$pristine">
                                    password is required.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="columns small-12 large-12">
                                <input type="submit" class="button button-assertive button-full expand" value="Sign up"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="home-footer">
        <div class="columns small-6 large-6 text-left">
            built using: <a ng-repeat="t in technologies" href="{{t.url}}" target="_blank"> {{t.title}} | </a>
        </div>
        <div class="columns large-6 small-6 text-right">
            <a href="mailto:bawasa.ejaz@gmail.com?subject=Hey!">Ejaz.</a>
        </div>
    </div>
</div>
